<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="LectureStudioModel.LectureStudioModelPackage" genModel="model/LectureStudioModel.genmodel" uri="platform:/resource/LectureStudioModel/model/LectureStudioModel.ecore"/>
  </extension>
</plugin>
