src-gen
xtend-gen
bin
!/**/.gitkeep

*.log
/**/*.log


org.emoflon.gips.gipsl.examples.sdr.extended/json-model.xmi

org.emoflon.gips.gipsl.examples.sdr.extended/json-model-result.xmi

org.emoflon.gips.gipsl.examples.sdr.extended/solution.json

RefactoringSoftwareSystemLars/instances/

org.emoflon.gips.gipsl.examples.mdvne/resources/example-models/model-out.xmi

classdiagramtgg3/instances/Example_small_solved.xmi

refactoringsoftwaresystemtgg3/instances/TestSystem1_solved.xmi

classdiagramtgg3/instances/cra-solved-headless-output.xmi
