src-gen
xtend-gen
bin
!/**/.gitkeep

*.log
/**/*.log


org.emoflon.gips.gipsl.examples.sdr.extended/json-model.xmi

org.emoflon.gips.gipsl.examples.sdr.extended/json-model-result.xmi

org.emoflon.gips.gipsl.examples.sdr.extended/solution.json

RefactoringSoftwareSystemLars/instances/

org.emoflon.gips.gipsl.examples.mdvne/resources/example-models/model-out.xmi

classdiagramtgg3/instances/Example_small_solved.xmi

refactoringsoftwaresystemtgg3/instances/TestSystem1_solved.xmi

org.emoflon.gips.gipsl.examples.sdr.extended/org/

org.emoflon.gips.gipsl.examples.sdr.extended/test-output.json

classdiagramtgg3/instances/cra-solved-headless-output.xmi

architecture.cra.gipssolution/gurobi.lp

architecture.cra.gipssolution/preprocessed.xmi

architecture.cra.gipssolution/solved.xmi

teachingassistant.metamodel/instances/

teachingassistant.gipssolution/instances/

org.emoflon.gips.gipsl.examples.headlessrunnerxmi/scripts/gips-headless.jar

org.emoflon.gips.gipsl.examples.headlessrunnerxmi/scripts/gurobi.lp

org.emoflon.gips.gipsl.examples.headlessrunnerxmi/scripts/gips-model.xmi

org.emoflon.gips.gipsl.examples.headlessrunnerxmi/scripts/hipe-network.xmi

org.emoflon.gips.gipsl.examples.headlessrunnerxmi/scripts/ibex-patterns.xmi

nurserosteringmodel/resources/solved.xmi

nurserosteringgipsl/gurobi.lp

nurserosteringmodel/resources/model.xmi

nurserosteringgipsl/resources/model.xmi

teachingassistant.kcl.metamodel/instances/kcl_department.xmi

teachingassistant.kcl.metamodel/instances/solved.xmi

ihtcrunner/model_in.xmi

**/.DS_Store

teachingassistant.kcl.metamodel/instances/kcl_department.json

teachingassistant.kcl.metamodel/model.json

**/trace_cache.bin

org.emoflon.gips.gipsl.examples.mdvne/problem.lp

teachingassistant.kcl.metamodelalt/instances/

teachingassistant.kcl.gipssolutionalt/problem.lp

teachingassistant.kcl.gipssolutionaltinc/problem.lp

teachingassistant.kcl.gipssolutionaltinchard/problem.lp
