src-gen
xtend-gen
bin
!/**/.gitkeep

*.log
/**/*.log


org.emoflon.gips.gipsl.examples.sdr.extended/json-model.xmi

org.emoflon.gips.gipsl.examples.sdr.extended/json-model-result.xmi

org.emoflon.gips.gipsl.examples.sdr.extended/solution.json

RefactoringSoftwareSystemLars/instances/

org.emoflon.gips.gipsl.examples.mdvne/resources/example-models/model-out.xmi

classdiagramtgg3/instances/Example_small_solved.xmi

refactoringsoftwaresystemtgg3/instances/TestSystem1_solved.xmi

org.emoflon.gips.gipsl.examples.sdr.extended/org/

org.emoflon.gips.gipsl.examples.sdr.extended/test-output.json

classdiagramtgg3/instances/cra-solved-headless-output.xmi

architecture.cra.gipssolution/gurobi.lp

architecture.cra.gipssolution/preprocessed.xmi

architecture.cra.gipssolution/solved.xmi

teachingassistant.metamodel/instances/

teachingassistant.gipssolution/instances/

nurserosteringmodel/resources/solved.xmi

nurserosteringgipsl/gurobi.lp

nurserosteringmodel/resources/model.xmi
