<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package class="ihtcvirtualmetamodel.IhtcvirtualmetamodelPackage" genModel="model/Ihtcvirtualmetamodel.genmodel" uri="platform:/resource/ihtcvirtualmetamodel/model/Ihtcvirtualmetamodel.ecore"/>
  </extension>
</plugin>
